* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

form {
    width: 35%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 48, 188, 0.523);
    padding: 3% 2%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

p {
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 28px;
}

input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 30px;
    color:rgb(128, 25, 196);
    font-weight: 600;
    text-align: center;
}

.formato {
    color: rgb(62, 62, 62);
    font-weight: 600;
    
}

.sexo-formato, .medicamento-formato {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.sexo, .medicamento, .padecimientos {
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 30px;
    width: 48%;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.horas {
    margin: 10px 0;
}

button {
    width: 30%;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 25px;
    background-color: rgb(68, 0, 91);
    color: white;
    font-size: 20px;
}