.productos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.producto-salud {
    background-color: #ccbce8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-salud-imagen {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.producto-descripcion {
    margin-bottom: 10px;
}

.producto-caracteristicas {
    margin-top: 20px;
}

.producto-seccion-titulo {
    font-size: 16px;
    margin-bottom: 5px;
}

.producto-ingredientes,
.producto-presentacion,
.producto-uso,
.producto-precauciones {
    margin-bottom: 10px;
}

.producto-beneficios {
    padding-left: 20px;
}
